.create-button button,
.buttons__save-button button,
.buttons__cancel-button button {
  width: 100%;
  height: 50px;
  background-color: #884DFE;
  color: white;
  border-radius: 5px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

}

.create-button {
  margin-bottom: 20px;
}

.icon {
  width: 14px;
  height: 14px;
}

.buttons {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  &__save-button, &__cancel-button {
    width: 45%;
    height: 50px;
  }

  &__save-icon {
    margin-right: 10px;
  }
}